<section class="hero min-h-screen" style="background-image: url(/images/black-and-gold-background.jpg);">
        <div class="hero-content flex-col lg:flex-row">
          <img src="/images/my_picture.jpeg" class="sm:max-w-md rounded-lg shadow-2xl" />
          <div>
            <h1 class="text-5xl font-bold">Christian Schroeder</h1>
          </div>
        </div>
      </section>

      <div class="divider"></div>

      <section id="about-me-section">
        <div class="card w-5/6 bg-base-200 shadow-xl m-auto">
          <div class="card-body">
            <h2 class="text-3xl">About me: </h2>
            <p>
              I am a student of the UC Berkeley coding bootcamp. I have previously gotten a bachelors in computer science at UC San Diego but it has been a couple years since then. My plans were put off because of covid 
              for the sake of my family. Now I am getting back into the swing of things and taking this bootcamp in order to refresh and learn more about web design and development. I currently live in Plumas Lake, California. 
              I hope to continue along this career path while becoming the best me that I can be.
            </p>
          </div>
        </div>
      </section>

      <div class="divider"></div>

      <section id="contact-me-section">
          <div class="card w-5/6 bg-base-200 shadow-xl m-auto">
          <div class="card-body">
            <h2 class="text-3xl">Contact me: </h2>
            <h2 class="text-xl">Email: </h2>
            <p>cmwschroeder@gmail.com</p>
            <h2 class="text-xl">Phone Number: </h2>
            <p>(530)617-2690</p>
          </div>
        </div>
      </section>

      <div class="divider"></div>

      <section id="projects-section">
        <div class="card w-5/6 bg-base-200 shadow-xl m-auto mb-3">
          <h2 class="text-3xl">Projects: </h2>
          <div class="flex flex-col sm:flex-row">
            <div class="card m-auto sm:m-2 sm:w-1/2 bg-base-300 hover:m-0" id="pethub">
              <figure><img src="/images/pethub.png" class="w-full" id="pethub-image"/></figure>

              <h3 class="card-title m-3">Pethub</h3>
              <p>Pethub is a web app for anyone interested in responsibly adopting a pet. On our webapp you can find pets in all areas to adopt. 
                Even if you do not want to make the committment yet in adopting an animal, but still want to contribute to animals in need, we have a 
                charity page that brings you to charities in all locations. If you are unsure of where to donate, there is a recommended list of charities available and much more.</p>
              <div class="card-actions justify-center m-3">
                <a href="https://cmwschroeder.github.io/pethub/" target="_blank" class="btn btn-primary">Visit Site</a>
                <a href="https://github.com/cmwschroeder/pethub" target="_blank" class="btn btn-secondary">Visit Repo</a>
              </div>
            </div>

            <div class="card m-auto sm:m-2 sm:w-1/2 bg-base-300 hover:m-0" id="weather-dashboard">
              <figure><img src="/images/weather-dashboard.png" class="w-full" id="weather-dashboard-image"/></figure>

              <h3 class="card-title m-3">Weather Dashboard</h3>
              <p>This webpage is a weather dashboard application. Just search for your city and it'll display the current weather and the next 5 day forecast. It also keeps track
                of your previous searches so don't worry about having to type the search in again, just click on the button with that cities name. If you want to clear your previous searches 
                just click the red button to clear your searches and start anew.
              </p>
              <div class="card-actions justify-center m-3">
                <a href="https://cmwschroeder.github.io/weather-dashboard/" target="_blank" class="btn btn-primary">Visit Site</a>
                <a href="https://github.com/cmwschroeder/weather-dashboard" target="_blank" class="btn btn-secondary">Visit Repo</a>
              </div>
            </div>

          </div>

        </div>
      </section>